body {
  font-family: $font;
  background: $dark;
  color: white;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  height: 100px;
  .month {
    -webkit-appearance: none;
    background: none;
    color: white;
    font-family: $font;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 1rem 3rem 1rem 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Layer_1' x='0px' y='0px' viewBox='0 0 491.996 491.996' style='enable-background:new 0 0 491.996 491.996;' xml:space='preserve'%3E%3Cpath fill='white' d='M484.132,124.986l-16.116-16.228c-5.072-5.068-11.82-7.86-19.032-7.86c-7.208,0-13.964,2.792-19.036,7.86l-183.84,183.848 L62.056,108.554c-5.064-5.068-11.82-7.856-19.028-7.856s-13.968,2.788-19.036,7.856l-16.12,16.128 c-10.496,10.488-10.496,27.572,0,38.06l219.136,219.924c5.064,5.064,11.812,8.632,19.084,8.632h0.084 c7.212,0,13.96-3.572,19.024-8.632l218.932-219.328c5.072-5.064,7.856-12.016,7.864-19.224 C491.996,136.902,489.204,130.046,484.132,124.986z'/%3E%3C/svg%3E");
    background-size: 1rem;
    background-repeat: no-repeat;
    background-position: calc(100% - 1rem) 50%;
    option {
      color: black;
      font-size: 1rem;
    }
  }
  .controls {
    svg {
      width: 30px;
      height: auto;
    }
  }
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: calc(100vh - 100px);
  .cell {
    transition: transition(background);
    &:hover {
      background: rgba(white, 0.01);
    }
    padding: 2rem;
    h2 {
      margin: 0 0;
    }
    &.header {
      border-bottom: 1px solid rgba(white, 0.1);
    }
  }
}

button {
  background: transparent;
  border: 0;
  padding: 1rem 2rem;
  cursor: pointer;
  outline: none;
  color: white;
  font-size: 1.2rem;
  font-family: $font;
  text-align: center;
  transition: transition((color, background, filter));
  &:active {
    filter: brightness(0.8);
    transition: transition((color, background)), 0s filter;
  }
}

.add-event {
  position: fixed;
  top: 50%;
  left: 50%;
  background: $blue;
  z-index: 10;
  padding: 2rem;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 600px;
  border-radius: 0.5rem;
  &_background {
    position: fixed;
    top: 50%;
    left: 50%;
    background: rgba(black, 0.5);
    backdrop-filter: blur(20px);
    z-index: 10;
    padding: 2rem;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
  }
  &__exit {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    transform: translate(50%, -50%);
    padding: 0;
    svg {
      width: 100%;
      height: 100%;
      transform: rotate(45deg);
    }
  }
}

.form {
  display: grid;
  &-group {
    margin: 1rem 0;
    input,
    textarea {
      font-family: $font;
      font-size: 1rem;
      padding: 1rem;
      width: 100%;
      outline: 0;
      resize: none;
      border: 0;
      border-radius: 0.3rem;
      transition: transition(box-shadow);
      &:focus {
        box-shadow: 0 10px 30px 0 rgba(white, 0.1),
          0 0 1px 2px rgba(rgb(29, 29, 29), 1);
      }
    }
    textarea {
      height: 200px;
    }
    button {
      width: 100%;
      border: 1px solid white;
      border-radius: 0.3rem;
      &:hover {
        background: white;
        color: black;
      }
    }
  }
}

.events {
  padding: 1rem 0;
  display: flex;
  &-single {
    width: 1rem;
    padding: 0;
    height: 1rem;
    margin-right: 1rem;
    background: $blue;
    border-radius: 10rem;
    cursor: pointer;
    transition: transition((filter, transform));
    &:hover {
      filter: brightness(1.1);
      transform: scale(1.5);
    }
  }
}

p {
  margin: 1rem 0;
  letter-spacing: 0.03em;
  line-height: 190%;
}

h2 {
  margin: 2rem 0;
  letter-spacing: 0.06em;
}

h4 {
  margin: 2rem 0;
}
